<h1>Register with HelpList</h1>
<%= form_with model: @user do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation, "Password:" %>
  <%= form.password_field :password_confirmation %>
  <%= radio_button_tag(:user, "Donor") %>
  <%= label_tag(:donor, "I am registering as a Donor!") %>
  <%= radio_button_tag(:user, "Recipient") %>
  <%= label_tag(:donor, "I am registering as a Recipient!") %>
  <%= form.submit "Register" %>